body {
    font-family: Open Sans, sans-serif;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color:  #c5c3c6; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#mySidenav{
    list-style-type: none;
    padding-left: 0;
    width: 325px
}

#sidebar {
    /*width: 250px;*/
    margin-right: 0;
    float: left;
    list-style-type: none;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    /*transition: margin-left .5s;*/
    padding: 20px;
    overflow-x: hidden;
    background-color: #dcdcdd;
}

#slopeContent {
    margin-left: 300px;
}

.logos {
    text-align: center;
}

/*.indieLogos {
    width: 255px;
}*/

#menuLogo {
    height: 65px;
    margin-top: -40px;
    margin-bottom: 20px;
}

#daLogos{
    margin-left: 0px;
    margin-right: -24px;
    padding-bottom: 30px
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.h3 {
    font-size: 28px;
    font-weight: bold;
}
.slope {
    height: 800px !important;
    background-color: #dcdcdd;
    padding-top: 100px;
}
/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  /*-webkit-transition: all 0.5s ease-out;*/
}

.mainmenu a:hover {
    background-color: #C5C5C5;
}

#compBox {
    margin-left: -25px;
    margin-top: -25px;
    width: 1500px;
}
/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
  background-color: #999;
}

img {
    z-index: 0;
}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
  background-color: #666;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}